 
  <h4>Ahoy there, {{user.username}}.</h4>
  
  <h3>Find your running mate.</h3>
  <form class ="form-vertical" id="addrunner" name="addrunner" method="post" action="/runform">
    <span>Today, I'm tearing up the streets of: </span> 
    <br>
    <input id="input_name" type="text" name="city" value="{{user.city}}">
    <br>
    <br>
    <span>I'm starting my run soon and will get back in approximately: </span>
	<br>
    <input type="radio" name="time" value=10> 10 mins or less<br>
    <input type="radio" name="time" value=15> 15 mins<br>
    <input type="radio" name="time" value=30 checked> 30 mins<br>
    <input type="radio" name="time" value=45> 45 mins<br>
    <input type="radio" name="time" value=60> 60 mins or more<br>
    <br>
    <br>
	<span>I'm aiming for a distance of approximately:<span><br>
    <input type="radio" name="distance" value=1> 1 mile or less<br>
    <input type="radio" name="distance" value=3> 3 miles<br>
    <input type="radio" name="distance" value=5 checked> 5 miles<br>
	<input type="radio" name="distance" value=7> 7 miles<br>
	<input type="radio" name="distance" value=9> 9 miles or more<br>
	<br>
	<br>
	<span>Notes:</span>
	<br>
    <textarea id="notes" type="text" form="addrunner" name="notes" placeholder="More Info to Share"></textarea>
    <br>
    <br>
	{{!
	<span>I'll be running at a:<span><br>
    <input id="radio_six" type="radio" name="pace" value="leisurely"> leisurely pace<br>
    <input id="radio_seven" type="radio" name="pace" value="moderate" checked> moderate pace<br>
    <input id="radio_eight" type="radio" name="pace" value="fast"> fast pace<br>
	<br>
	}}
    <button id="submit_runner" class="btn btn-primary" type="submit">Go</button>
  </form>
