<h3>Login</h3>
  {{#if errors}}
  	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
  {{/if}}
  <form class ="form-vertical" id="form_login" name="login" method="post" action="/login">
    <span>username</span>
    <span>&nbsp</span>
    <input id="input_username" type="text" placeholder="username" name="username">
    <br>
    <br>
    <span>password</span> 
    <span>&nbsp</span>
    <input id="input_password" type="password" placeholder="password" name="password">
    <br>
    <br>
    <button id="submit_login" type="submit">Go</button>
	<br>
	<br>
  </form>
  
<span>Don't have an account? Register <a href="register">here</a>.</span>
  
  