<h3>Login</h3>
  <form class ="form-vertical" id="form_login" name="login" method="post" action="/login">
    <span>username</span>
    <span>&nbsp</span>
    <input id="input_username" type="text" placeholder="username" name="username">
    <br>
    <br>
    <span>password</span> 
    <span>&nbsp</span>
    <input id="input_password" type="text" placeholder="password" name="password">
    <br>
    <br>
    <button id="submit_login" type="submit">Go</button>
  </form>
  
<h3>Register</h3>
  <form class ="form-vertical" id="form_register" name="register" method="post" action="/register">
    <span>username</span>
    <span>&nbsp</span>
    <input id="input_newusername" type="text" placeholder="username" name="newusername">
    <br>
    <br>
    <span>password</span> 
    <span>&nbsp</span>
    <input id="input_newpassword" type="text" placeholder="password" name="newpassword">
    <br>
    <br>
    <button id="submit_register" type="submit">Go</button>
  </form>
  
  