<h3>Runners<h3>
  <ul class="list-group">
   {{#if runnerlist}}
    {{#each runnerlist}}
      <li class="list-group-item">{{username}}, {{city}}, {{pace}}, {{duration}}</li>
    {{/each}}
   {{/if}}
  </ul>
 